@import '/src/settings';

.card_wrapper{
    background-color: $card-bgcolor;
    height: 270px;
    width: 175px;
    display: flex;
    flex-direction: column-reverse;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    .movie_title_wrapper{
        display: flex;
        flex-direction: column;
        background-color: rgba(0,0,0,0.3);
        color: aliceblue;
        padding: 0.3rem;
        border-bottom-right-radius: 10px;
        .movie_name{
            font-size: 1rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .movie_ratings{
            font-size: 0.75rem;

        }
    }
}

