


$main-color: rgb(186, 28, 28);
$bgcolor: black;
$card-bgcolor: grey;
$modal-bgcolor: #F0F0ED;
$secondary-dark-color: rgb(43, 38, 38);
$secondary-light-color: rgb(208, 206, 206);
$font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, 'Open Sans', 'Helvetica', 'sans-serif';
$smoke: whitesmoke;


body {
    background-color: $bgcolor;
    font-family: $font-family;
}