@import '/src/settings';

//themes
$themes: (
        default: (
                mainColor: $light-main-color,
                secondaryColor: $light-secondary-color
                cardBgcolor: $light-card-bg-color,
                modalBgcolor: $light-modal-bg-color,
        ),
        dark: (
                mainColor: $main-color,
                secondaryColor: $secondary-color,
                cardBgcolor: $card-bg-color,
                modalBgcolor: $modal-bg-color,
        ),
);

@mixin themed(){
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}